@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Roboto:wght@300&display=swap");
html,
body,
a,
p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

h2 {
  font-weight: 200;
  font-size: 2.25rem;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.6;
}

.container-mw {
  max-width: calc(960px + 2rem);
  margin: auto;
  padding: 0 2rem;
}
@media (max-width: 767.98px) {
  .container-mw {
    padding: 0 1rem;
  }
}

.navbar {
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  width: 3rem;
}

.nav-item > a {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}

.blocker {
  height: 4.5rem;
}

.hero__left {
  margin: 3rem 0;
}
.hero__left img {
  max-width: 30rem;
}
.hero__right {
  margin: 5rem 0;
  padding: 0 3rem;
}
.hero__right .hero__title {
  font-size: 3rem;
}
.hero__right .hero__byline {
  font-size: 2.25;
  font-weight: 200;
}
.hero__right .hero__para {
  max-width: 30rem;
}
@media (min-width: 576px) {
  .hero__left {
    margin: 1rem 0;
  }
  .hero__left img {
    height: 100%;
  }
  .hero__right {
    margin: 2rem 0;
  }
}
@media (min-width: 768px) {
  .hero {
    min-height: 30rem;
    height: 100vh;
    max-height: 60rem;
  }
  .hero__left {
    margin: 0;
    padding-left: 2rem;
    max-height: none;
  }
  .hero__left img {
    height: inherit;
    width: 100%;
  }
  .hero__right {
    margin: 0;
    padding-left: 0;
  }
}

.links__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.links__list li {
  padding: 0;
  margin: 0;
  aspect-ratio: 1.61;
}
@media (min-width: 768px) {
  .links__list li {
    aspect-ratio: 1;
  }
}
.links__link {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links__link.link--web {
  background-color: #271346;
  position: relative;
  overflow: hidden;
}
.links__link.link--web svg {
  width: 80%;
  fill: white;
}
.links__link.link--web svg text {
  color: white;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 1.2;
  font-weight: 800;
}
.links__link.link--web * {
  z-index: 2;
}
.links__link.link--web::before {
  content: "";
  position: absolute;
  right: -13.3333333333%;
  top: 80%;
  width: 40%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #66044b, rgba(102, 4, 75, 0));
}
.links__link.link--web::after {
  content: "";
  z-index: 0;
  position: absolute;
  left: -23.3333333333%;
  top: -28%;
  width: 70%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: linear-gradient(0deg, #5251fe, rgba(82, 81, 254, 0));
}
.links__link.link--graphics {
  background-color: #cd5f54;
  color: white;
  position: relative;
}
.links__link.link--graphics .link__container {
  width: max-content;
  margin: auto;
}
.links__link.link--graphics .link__container .link__logo-block {
  width: 50%;
  margin-left: 13%;
  aspect-ratio: 1;
  background-color: #2d4e4e;
  overflow: hidden;
}
.links__link.link--graphics .link__container .link__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-22%, -50%);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 1.2;
  font-weight: 800;
  font-size: 9.55vw;
}
@media (min-width: 768px) {
  .links__link.link--graphics .link__container .link__title {
    font-size: min(3.18vw, 1.97rem);
  }
}
.links__link.link--graphics .link__container img {
  width: 100%;
  transform: translateX(-50%);
}
.links__link.link--product {
  background-image: url("http://via.placeholder.com/300x300");
  background-size: cover;
  background-position: center;
}

.selected-work__header {
  padding: 5rem 0 1rem 0;
}
.selected-work__header h2 {
  padding: 0;
  margin: 0;
}
.selected-work .work {
  padding: 2.5rem 0;
  position: relative;
}
.selected-work .work__content {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .selected-work .work__content {
    padding: 2rem;
  }
}
.selected-work .work__image {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .selected-work .work__image {
    padding: 2rem 0;
  }
}
.selected-work .work__image img {
  width: 100%;
}
.selected-work .work__chip-container {
  margin-top: 1rem;
  flex-basis: 50%;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  align-content: end;
  flex-wrap: wrap-reverse;
  transform: translate(-0.5rem, 0);
}
.selected-work .work__chip {
  font-size: 1rem;
  margin: 0.2rem 0.2rem;
  padding: 0rem 1em;
  background-color: #f2f2f2;
  border-radius: 3rem;
}
@media (min-width: 768px) {
  .selected-work .work--left {
    padding-right: 12px;
  }
}
@media (min-width: 768px) {
  .selected-work .work--right {
    padding-left: 12px;
  }
}
.selected-work .bg-color {
  position: relative;
  background-color: #f2f2f2;
  color: black;
  position: relative;
  overflow: visible;
  z-index: 0;
}
.selected-work .bg-color::before {
  content: "";
  position: absolute;
  width: calc(50vw - 50%);
  height: 100%;
  top: 0;
  right: 100%;
  background-color: #f2f2f2;
  z-index: -1;
}
.selected-work .bg-color::after {
  content: "";
  position: absolute;
  width: calc(50vw - 50%);
  height: 100%;
  top: 0;
  left: 100%;
  background-color: #f2f2f2;
  z-index: -1;
}
.selected-work .bg-color .work__chip {
  background-color: white;
}

.contact {
  padding-bottom: 5rem;
}
.contact__title {
  padding: 5rem 0 0 0;
}
.contact__row {
  width: 100%;
}
@media (min-width: 576px) {
  .contact__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.contact__link {
  color: inherit;
  text-decoration: none;
  height: 4rem;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin: 2rem auto;
}
@media (min-width: 576px) {
  .contact__link {
    align-content: flex-start;
  }
}
.contact__link .contact__icon {
  color: inherit;
  font-size: 4rem;
  width: min-content;
}
.contact__link .contact__text p {
  color: inherit;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
  margin-left: 1rem;
}
.contact__link .contact__body {
  font-weight: bold;
}
.contact__link:hover {
  color: inherit;
  opacity: 0.8;
}
.contact__link:hover .contact__icon {
  color: inherit;
  opacity: 0.8;
}

.footer {
  position: relative;
  background-color: #323232;
  color: white;
  padding: 5rem 0 0 0;
}
.footer::before {
  content: "";
  position: absolute;
  width: calc(50vw - 50%);
  height: 100%;
  top: 0;
  right: 100%;
  background-color: #323232;
  z-index: -1;
}
.footer::after {
  content: "";
  position: absolute;
  width: calc(50vw - 50%);
  height: 100%;
  top: 0;
  left: 100%;
  background-color: #323232;
  z-index: -1;
}
.footer > div {
  padding-bottom: 5rem;
}
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__logo img {
  width: 8rem;
}
.footer__contact, .footer__nav {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer__contact, .footer__nav {
    display: block;
  }
}
.footer ul,
.footer li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.footer a {
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: #b3b3b3;
}

.toggle {
  position: fixed;
  top: 0rem;
  right: 4.5rem;
  z-index: 3;
  width: 5rem;
  height: 7rem;
}
.toggle__wrapper {
  transition: 0.5s;
  background-color: white;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  padding-bottom: 0.7rem;
  border-radius: 0.3rem;
  transform: translateY(-2rem);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.toggle #toggleTip {
  position: absolute;
  top: 7.5rem;
  left: -40%;
  font-size: 0.85rem;
  width: max-content;
  padding: 0.3rem;
  border-radius: 0.3rem;
  color: black;
  background-color: white;
  opacity: 0;
  transition: 0.5s;
}
.toggle:hover .toggle__wrapper {
  transform: translateY(0);
}
.toggle:hover #toggleTip {
  opacity: 1;
}

.web-hero {
  padding: 10rem 0 5rem 0;
  background-color: #271346;
  color: white;
  position: relative;
  overflow: hidden;
}
.web-hero__top-row .web-hero__top-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.web-hero__top-row .web-hero__top-right {
  text-align: right;
}
.web-hero__top-row .web-hero__top-right img {
  width: 100%;
}
.web-hero__tech {
  margin: 5rem 0 3rem 0;
}
.web-hero__detail {
  margin: 1rem 0;
}
.web-hero__detail .detail__body {
  max-width: 20em;
}
.web-hero * {
  z-index: 2;
}
.web-hero::before {
  content: "";
  position: absolute;
  right: calc(clamp(200px, 80vw, 1000px) / -3);
  top: calc(100% - clamp(200px, 80vw, 1000px) / 2);
  width: clamp(200px, 80vw, 1000px);
  height: clamp(200px, 80vw, 1000px);
  border-radius: 50%;
  background-image: linear-gradient(90deg, #66044b, rgba(102, 4, 75, 0));
}
.web-hero::after {
  content: "";
  z-index: 0;
  position: absolute;
  left: calc(clamp(800px, 100vw, 1500px) / -3);
  top: calc(clamp(800px, 100vw, 1500px) / -2.5);
  width: clamp(800px, 100vw, 1500px);
  height: clamp(800px, 100vw, 1500px);
  border-radius: 50%;
  background-image: linear-gradient(0deg, #5251fe, rgba(82, 81, 254, 0));
}

.web-dev__body {
  background-color: #050215;
  color: white;
}
.web-dev__body .contact__link {
  color: white;
}

body.light {
  background-color: #f1efff;
  color: black;
}
body.light .web-hero {
  background-color: #e4d7f8;
  color: black;
}
body.light .web-hero::before {
  background-image: linear-gradient(0deg, #ff71d8, rgba(255, 113, 216, 0));
}
body.light .web-hero::after {
  background-image: linear-gradient(0deg, #b8b8ff, rgba(184, 184, 255, 0));
}
body.light .contact__link {
  color: black;
}

.graphics__body {
  background-color: #e8d0b4;
}

.graphics__hero {
  position: relative;
  background-color: #cd5f54;
  color: white;
  position: relative;
  height: calc(100vh - 4.5rem);
  min-height: 25rem;
}
.graphics__hero::before {
  content: "";
  position: absolute;
  width: calc(50vw - 50%);
  height: 100%;
  top: 0;
  right: 100%;
  background-color: #cd5f54;
  z-index: -1;
}
.graphics__hero::after {
  content: "";
  position: absolute;
  width: calc(50vw - 50%);
  height: 100%;
  top: 0;
  left: 100%;
  background-color: #cd5f54;
  z-index: -1;
}
.graphics__hero .hero__container {
  width: fit-content;
  margin: auto;
}
.graphics__hero .hero__container .hero__logo-block {
  background-color: #2d4e4e;
  width: 50%;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translate(0, -50%);
  overflow: hidden;
  display: flex;
  align-items: center;
}
.graphics__hero .hero__container .hero__logo-block img {
  width: 100%;
  transform: translatex(-50%);
}
.graphics__hero .hero__container .hero__title {
  width: min-content;
  font-size: clamp(1.5rem, 9.55vw, 6rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-23%, -50%);
}

body {
  background-color: #151515;
}

.product__hero {
  display: grid;
  place-items: center;
  perspective: 900px;
  perspective-origin: 50% calc(50% - 0px);
  transform-style: preserve-3d;
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100%;
}
.product__hero__mobile-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
}
.product__hero .banner {
  display: flex;
  transform-style: preserve-3d;
  transform: translatey(-10px) rotatex(-3deg) rotatez(-30deg) scale(0.5) rotatey(30deg);
}
@keyframes rotate {
  from {
    transform: rotateZ(-39deg) rotateY(0deg);
  }
  to {
    transform: rotateZ(-39deg) rotateY(-360deg);
  }
}
.product__hero .panel {
  position: absolute;
  transform: translate(-50%, -50%) rotateY(var(--angle)) translateZ(530px);
  width: 140px;
  height: 140px;
  overflow: hidden;
}
.product__hero .panel::before {
  position: absolute;
  left: var(--left);
  content: "Industrial Design Projects";
  color: white;
  font-family: Poppins, arial, Helvetica, sans-serif;
  font-size: 100px;
  width: max-content;
}
.product__hero .panel:nth-child(1) {
  --left: 0px;
  --angle: 0deg;
}
.product__hero .panel:nth-child(2) {
  --left: -140px;
  --angle: 15deg;
}
.product__hero .panel:nth-child(3) {
  --left: -280px;
  --angle: 30deg;
}
.product__hero .panel:nth-child(4) {
  --left: -420px;
  --angle: 45deg;
}
.product__hero .panel:nth-child(5) {
  --left: -560px;
  --angle: 60deg;
}
.product__hero .panel:nth-child(6) {
  --left: -700px;
  --angle: 75deg;
}
.product__hero .panel:nth-child(7) {
  --left: -840px;
  --angle: 90deg;
}
.product__hero .panel:nth-child(8) {
  --left: -980px;
  --angle: 105deg;
}
.product__hero .panel:nth-child(9) {
  --left: -1120px;
  --angle: 120deg;
}
.product__hero .panel:nth-child(10) {
  --left: -1260px;
  --angle: 135deg;
}
.product__hero .panel:nth-child(11) {
  --left: -1400px;
  --angle: 150deg;
}
.product__hero .panel:nth-child(12) {
  --left: -1540px;
  --angle: 165deg;
}
.product__hero .panel:nth-child(13) {
  --left: -1680px;
  --angle: 180deg;
}
.product__hero .panel:nth-child(14) {
  --left: -1820px;
  --angle: 195deg;
}
.product__hero .panel:nth-child(15) {
  --left: -1960px;
  --angle: 210deg;
}
.product__hero .panel:nth-child(16) {
  --left: -2100px;
  --angle: 225deg;
}
.product__hero .panel:nth-child(17) {
  --left: -2240px;
  --angle: 240deg;
}
.product__hero .panel:nth-child(18) {
  --left: -2380px;
  --angle: 255deg;
}
.product__hero .panel:nth-child(19) {
  --left: -2520px;
  --angle: 270deg;
}
.product__hero .panel:nth-child(20) {
  --left: -2660px;
  --angle: 285deg;
}
.product__hero .panel:nth-child(21) {
  --left: -2800px;
  --angle: 300deg;
}
.product__hero .panel:nth-child(22) {
  --left: -2940px;
  --angle: 315deg;
}
.product__hero .panel:nth-child(23) {
  --left: -3080px;
  --angle: 330deg;
}
.product__hero .panel:nth-child(24) {
  --left: -3220px;
  --angle: 345deg;
}
.product__hero .screen {
  filter: brightness(0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  background: transparent;
  background-image: url("/img/drill2.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -40%);
}

.filler {
  height: 100vh;
}
@media (min-width: 768px) {
  .filler {
    height: 230vh;
  }
}

.contact--product {
  position: relative;
  background-color: #333;
  color: white;
  color: white;
}
.contact--product::before {
  content: "";
  position: absolute;
  width: calc(50vw - 50%);
  height: 100%;
  top: 0;
  right: 100%;
  background-color: #333;
  z-index: -1;
}
.contact--product::after {
  content: "";
  position: absolute;
  width: calc(50vw - 50%);
  height: 100%;
  top: 0;
  left: 100%;
  background-color: #333;
  z-index: -1;
}

.gallery--ind {
  position: relative;
  background-color: #333;
  color: white;
  color: white;
}
.gallery--ind::before {
  content: "";
  position: absolute;
  width: calc(50vw - 50%);
  height: 100%;
  top: 0;
  right: 100%;
  background-color: #333;
  z-index: -1;
}
.gallery--ind::after {
  content: "";
  position: absolute;
  width: calc(50vw - 50%);
  height: 100%;
  top: 0;
  left: 100%;
  background-color: #333;
  z-index: -1;
}
