@use "../partials" as *;

.contact {
    padding-bottom: 5rem;

    &__title {
        padding: 5rem 0 0 0;
    }

    // arranging link blocks into two columns
    &__row {
        width: 100%;
        // mobile first: stacked

        @include media-breakpoint-up(sm) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    // link block styling
    &__link {
        color: inherit;
        text-decoration: none;

        // flex styling
        // height is hardcoded to force wrapping
        height: 4rem;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        justify-content: center;

        // width 100% to make use of align-content center
        // for mobile layouts
        width: 100%;
        margin: 2rem auto;

        // for desktop styling, left aligned
        @include media-breakpoint-up(sm) {
            align-content: flex-start;
        }

        // icon styling
        .contact__icon {
            // color: inherit;
            font-size: 4rem;
            width: min-content;
        }

        // all text styling
        .contact__text p {
            // color: inherit;
            font-size: 1.3rem;
            padding: 0;
            margin: 0;
            margin-left: 1rem;
        }

        // bold username styling
        .contact__body {
            font-weight: bold;
        }

        hover styling &:hover {
            // opacity instead of color because of dark/light mode
            // color: inherit;
            opacity: 0.8;

            .contact__icon {
                // color: inherit;
                opacity: 0.8;
            }
        }

        // &:visited {
        //     // color: inherit;
        // }
    }
}
