@use "../partials" as *;

// page styling

.graphics__body {
    background-color: $graphics-body-bg;
}

// hero styling

.graphics__hero {
    @include bg-color($graphics-hero-bg);

    position: relative;

    height: calc(100vh - 4.5rem);
    min-height: 25rem;

    .hero__container {
        width: fit-content;
        margin: auto;
        // block and logo styling
        .hero__logo-block {
            background-color: $graphics-hero-block;

            width: 50%;
            aspect-ratio: 1;

            position: absolute;

            top: 50%;
            left: 13%;
            transform: translate(0, -50%);

            overflow: hidden;

            display: flex;
            align-items: center;

            img {
                width: 100%;
                transform: translatex(-50%);
            }
        }

        // title styling
        .hero__title {
            width: min-content;
            font-size: clamp(1.5rem, 9.55vw, 6rem);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-23%, -50%);
        }
    }
}
