@use "../partials" as *;

.links {
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            aspect-ratio: 1.61;

            @include media-breakpoint-up(md) {
                aspect-ratio: 1;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: black;
        width: 100%;
        height: 100%;
        padding: 1rem;

        display: flex;
        justify-content: center;
        align-items: center;

        &.link--web {
            background-color: $dark-hero-bg;
            position: relative;
            overflow: hidden;

            svg {
                width: 80%;
                fill: white;
                text {
                    color: white;
                    font-family: Poppins, Arial, Helvetica, sans-serif;
                    line-height: 1.2;
                    font-weight: 800;
                    // font-size: 3rem;
                }
            }

            * {
                z-index: 2;
            }

            &::before {
                content: "";

                $circle-size: 40%;

                position: absolute;
                // right: min(calc($circle-size / 2), calc((100% - 960px) / -2));
                right: calc($circle-size / -3);
                top: calc(100% - ($circle-size / 2));

                width: $circle-size;
                aspect-ratio: 1;
                border-radius: 50%;

                // background-color: $dark-circle-small;
                background-image: linear-gradient(
                    90deg,
                    $dark-circle-small,
                    rgba($dark-circle-small, 0)
                );
            }

            &::after {
                content: "";

                // $circle-size: clamp(150px, 50%, 500px);

                $circle-size: 70%;

                z-index: 0;
                position: absolute;
                left: calc($circle-size / -3);
                top: calc($circle-size / -2.5);

                width: $circle-size;
                aspect-ratio: 1;
                border-radius: 50%;

                background-image: linear-gradient(
                    0deg,
                    $dark-circle-big,
                    rgba($dark-circle-big, 0)
                );
            }
        }

        // copy the styles of the graphics hero except with different text styling?
        &.link--graphics {
            background-color: $graphics-hero-bg;
            color: white;
            position: relative;

            .link__container {
                width: max-content;
                margin: auto;

                .link__logo-block {
                    width: 50%;
                    margin-left: 13%;
                    aspect-ratio: 1;
                    background-color: $graphics-hero-block;
                    overflow: hidden;
                }

                .link__title {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-22%, -50%);

                    font-family: Poppins, Arial, Helvetica, sans-serif;
                    line-height: 1.2;
                    font-weight: 800;
                    // responsive font size needs to be different because of layout changes.
                    font-size: 9.55vw;
                    @include media-breakpoint-up(md) {
                        font-size: min(3.18vw, 1.97rem);
                    }
                }

                img {
                    width: 100%;
                    transform: translateX(-50%);
                }
            }
        }

        &.link--product {
            background-image: url("http://via.placeholder.com/300x300");
            background-size: cover;
            background-position: center;
        }
    }
}
