@use '../partials';

.navbar {
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(black, 0.1);
}

.navbar-brand {
    img {
        width: 3rem;
    }
}

.nav-item {
    & > a {
        font-family: Poppins, Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 1.3rem;
    }
}
