@use "../partials" as *;

.project__main {
    margin: 5rem 0;
    img {
        width: 100%;

        &:first-of-type {
            margin-top: 1.5rem;
        }
    }

    h3,
    h2,
    p {
        margin: 1.5rem 0;
    }

    .projects__aside {
        font-style: italic;
    }

    li {
        padding: 0.5rem 0;
    }

    .carousel-inner img {
        width: 286px;
        height: 600px;
        margin: 3rem auto;
    }
}

.proprietary {
    position: relative;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        backdrop-filter: blur(0.5rem);
    }

    &::after {
        content: "Unfortunately, this section contains proprietary information";
        position: absolute;
        max-width: 100%;

        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);

        font-family: inherit;
        font-weight: bold;
    }
}
