@use '../partials' as *;

.selected-work {
    &__header {
        padding: 5rem 0 2rem 0;
    }

    .work {
        padding: 2.5rem 0;
        position: relative;

        &__content {
            display: flex;
            flex-direction: column;

            @include media-breakpoint-down(md) {
                padding: 2rem;
            }
        }

        &__image {
            display: flex;
            align-items: center;

            img {
                width: 100%;
            }
        }

        &__chip-container {
            margin-top: 1rem;

            flex-basis: 50%;
            flex-grow: 1;
            display: flex;
            align-items: flex-end;
            align-content: end;
            flex-wrap: wrap-reverse;

            transform: translate(-0.5rem, 0);
        }

        &__chip {
            font-size: 1rem;

            margin: 0.2rem 0.2rem;
            padding: 0rem 1em;

            background-color: aliceblue;
            border-radius: $chip-radius;
        }
    }

    // .bg-color {
    //     background-color: $bg-color;
    //     color: white;

    //     .work__chip {
    //         color: black;
    //     }
    // }
}
